@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/helvetica_regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/helvetica_bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "CSTM Xprmntl 02 Italic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cstmxprmntl02italic_italic.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Neutral Face";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NeutralFace.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}

body {
    font-family: "Helvetica", sans-serif;
    font-size: 23px;
    line-height: 27px;
    background-color:rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
/*Header*/
.page-header {
    padding-top: 16px;
    margin-bottom: 315px;
}

.subtitle {
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.subtitle p{
    margin: 0;
    padding: 0;
}

.header-date {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-bottom: 8px;
}

.biography {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: 372px;
    letter-spacing: 0.3px;
}

/*Main*/
.subtitle h2 {
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}

.contacts-link{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.main-title {
    font-family: "Neutral Face";
    font-weight: 400;
    font-size: 55px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

.main-title span {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 62px;
    line-height: 66px;
}

/*Catalog*/
.card-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item{
    width: 394px;
    text-align: center;
}

.card-item span{
    font-style: italic;
}

.card-item img {
display: block;
}

.card-item a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 637px;
}

.card-title{
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    display: block;
    width: 174px;
    margin: 26px auto;
}

.card-date {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 36px;
}

.card-1 {
    background-color: rgba(134, 133, 133, 1);
}

.card-3 {
    background-color: rgba(255, 73, 2, 1);
}
.card-5 {
    background-color: rgba(175, 175, 43, 1);
}

.card-6 {
    background-color: rgba(58, 66, 97, 1);
}

.card-7{
    background-color: rgba(237, 237, 237, 1);
}

.card-8 {
    background-color: rgba(0, 56, 213, 1);
}

.card-10 {
    background-color: rgba(241, 1, 0, 1);
}

.card-12 {
    background-color: rgba(251, 243, 127, 1);
}
