@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/helvetica_regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/helvetica_bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "CSTM Xprmntl 02 Italic";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/cstmxprmntl02italic_italic.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Neutral Face";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NeutralFace.woff2") format("woff2");
    font-display: swap;
}
body {
    font-family: "Helvetica", sans-serif;
    font-size: 32px;
    line-height: 37px;
    background-color:rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.container{
    width: 1644px;
    margin: 0 auto;
}
/*Header*/
.subtitle {
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.subtitle p{
    margin: 0;
    padding: 0;
}

.header-date {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
}

.biography {
    font-family: "Helvetica";
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    line-height: 27px;
    text-align: left;
    display: block;
    width: 509px;
    margin: 0 auto;
}

/*Main*/
.subtitle h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

.contacts-link{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.main-title {
    font-family: "Neutral Face";
    font-weight: 400;
    font-size: 76px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 4.8px;
}

.main-title span {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 85px;
    line-height: 90px;
}

/*Catalog*/
.card-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-item{
    width: 540px;
    text-align: center;
}

.card-item span{
    font-style: italic;
}

.card-item a{
    text-decoration: none;
}

.card-title{
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
}

.card-date {
    font-family: "CSTM Xprmntl 02 Italic";
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: rgba(0, 0, 0, 1);
}

.card-1 {
    background-color: rgba(134, 133, 133, 1);
}

.card-3 {
    background-color: rgba(255, 73, 2, 1);
}
.card-5 {
    background-color: rgba(175, 175, 43, 1);
}

.card-6 {
    background-color: rgba(58, 66, 97, 1);
}

.card-7{
    background-color: rgba(237, 237, 237, 1);
}

.card-8 {
    background-color: rgba(0, 56, 213, 1);
}

.card-10 {
    background-color: rgba(241, 1, 0, 1);
}

.card-12 {
    background-color: rgba(251, 243, 127, 1);
}
